/* footer*/
.footer {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89%;
  right: 0px;
  bottom: 8%;
  float: right;
  height: auto;
}
